body {
    margin:0;
    background-color: #F6F6EB;
}
body.dark{
    transition: background-color 1s ease-out;
    background-color: #383838;
}

.nav-bar {
    background-color: rgba(0,0,0,0.6);
    /* Fixed top position*/
    position: sticky;
    top: 0;
    left: 0; 
    right: 0;
    padding-bottom: 20px; 
    /* Flex block for buttons */ 
    display: flex;
    flex-direction: row-reverse;
    z-index: 2;
}


.button-box{
    /* Text properties */
    font-size: 18px;        
    font-family: 'Courier New', Courier, monospace;
    color: white;
    /* Shape properties */
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    /* Position properties */
    position: relative;
    top: 15px;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    border-left: 1px solid white;
    border-radius: 0;
}

.container{
    background-color: #2774AE;
    height: 100vh;
    z-index: 1;
    text-align: center;
}

.container span{ 
    display: block;

}

.name{
    text-align: center;
    color: white;
    position: relative;
    font-size: 50px;
    font-weight: 1000;
    letter-spacing: 8px;
    font-family: century-gothic, sans-serif;;
    font-style: bold;
    margin-bottom: 20px;
    animation: text 3s 1;
    padding-top: 40vh;
}

@keyframes text {
    30%{
        letter-spacing: 15px;
    }
}

.nickname { 
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: century-gothic, sans-serif;;
    color: #D1B000;
    animation-name: altname;
    animation-duration: 3s;
}

@keyframes altname {
    0%{
        opacity: 0;
        transform: translateY(-57px);
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

#main-box{
    transition: background-color 1s ease-out;
    background-color: #F6F6EB;
}
#main-box.dark{
    transition: background-color 1s ease-out;
    background-color: #383838;
}

#theme{
    width: 50px;
    height:50px;
    font-size: larger;
    border-width: 0px;
    border-bottom-right-radius: 25%;
    background-color: #383838;
}
#theme.dark{
    background-color: #F6F6EB;
}

.self-photo{
    display: block;
    position:relative;
    left: 45vw;
    bottom: 175px;
    width: 290px;
    height: 400px;
}

@media screen and (max-width: 300px) { 
    .self-photo{
        width: 100px;
        height: 110px;
    }  
}

#dot {
    border-bottom: 15px solid #88AED0;
    height: 15px;
    width: 15px;
    position:sticky;
    left: 24.80vw;
    top: 30px;
    margin-top: 100px;
    z-index: 2;
}

#vl-top{
    border-left: 10px solid #E7D27C;
    height: 150px;
    width: 20px;
    position:relative;
    margin-top: 50px;
    left: 25vw;
    z-index: 1;
}

#box{
    height: 410px;
    width: 65%;
    margin: auto;
    position:relative;
    background-color: #DDDDD2;
    z-index: 3;
}

#khmer-font{
    font-family: Suwannaphum,DaunPenh,Code2000;
    font-weight: 400px;
    color: black;
    font-size: 40px;
    
}

#head1{
    font-family: century-gothic, sans-serif;;
    color: black;
    font-size: 25px;
    margin: 0;
    position: relative;
    top: 20px;
    left: 25px;
}

.grid1
{
    display:grid;
    grid-template-columns: auto 40%;
}

#txt1{
    font-family: century-gothic, sans-serif;
    color: black;
    font-size: 15px;
    position: relative;
    margin: 30px 30px;
}

.float-txt{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 14px;
}

#vl{
    border-left: 10px solid #E7D27C;
    height: 200px;
    width: 20px;
    position:relative;
    left: 25vw;
    z-index: 1;
}

#box1{
    width: 65%;
    margin: auto;
    position:relative;
    background-color: #DDDDD2;
    z-index: 3;
}

#head2{
    height: 30px;
    font-family: century-gothic, sans-serif;;
    text-align: center;
    color: black;
    font-size: 25px;
}
#head2.dark{
    color: white;
}

.angkor{
    width: 100px;
    position:relative;
    bottom: 10px;
}

#box2{
    width: 65%;
    padding-bottom: 30px;
    margin: auto;
    position:relative;
    background-color: #DDDDD2;
    z-index: 3;
}

#coursebtn{
    font-family: century-gothic, sans-serif;
    color: black;
    background-color: #DDDDD2;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    margin-left: 50px;
    width:auto;
    text-decoration: underline ;
    text-decoration-color: #2774AE;
    padding-bottom: 20px;
    cursor: pointer;
}

#csList{
    width: 65%;
    display: none;
    background-color: #DDDDD2;
    font-family: century-gothic, sans-serif;
    color: black;
    font-size: 15px;
    margin-left: 30px;
}

#eceList{
    width: 65%;
    display: none;
    background-color: #DDDDD2;
    font-family: century-gothic, sans-serif;
    color: black;
    font-size: 15px;
    margin-left: 30px;
}

#mathList{
    width: 65%;
    display: none;
    background-color: #DDDDD2;
    font-family: century-gothic, sans-serif;
    color: black;
    font-size: 15px;
    margin-left: 30px;
}

#achievementList{
    width: 65%;
    background-color: #DDDDD2;
    font-family: century-gothic, sans-serif;
    color: black;
    font-size: 15px;
    margin-left: 30px;
}

#box-bottom{
    width: 65%;
    margin: auto;
    position:relative;
    background-color: #DDDDD2;
    z-index: 3;
    padding-bottom: 30px;
    margin-bottom: 100px;
}

#p-link{
    color:#2774AE;
}

#box2{
    width: 65%;
    padding-bottom: 30px;
    margin: auto;
    position:relative;
    background-color: #DDDDD2;
    z-index: 3;
}

#vl-short{
    border-left: 10px solid #E7D27C;
    height: 100px;
    width: 20px;
    position:relative;
    left: 25vw;
    z-index: 1;
}

#box3{
    width:290px;
    height:365px;
    left:17vw;
    position:relative;
    background-color: transparent;
    z-index: 3;
}

#painting-des{
    width: 150px;
    background-color: #DDDDD2;
    position: relative;
    left: 270px;
    bottom: 350px;
    z-index: 7;
    text-align: right;
}

#s-painting-des{
    width: 150px;
    background-color: #DDDDD2;
    position: relative;
    left: 270px;
    bottom: 275px;
    z-index: 7;
    text-align: right;
}

#p-txt{
    font-family: century-gothic, sans-serif;
    color: black;
    font-size: 15px;
    position: relative;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#p-painting{
    display: block;
    position:relative;
    width: 290px;
    height: 365px;
    z-index: 6;
}

#box4{
    width:290px;
    height:290px;
    left:17vw;
    position:relative;
    background-color: transparent;
    z-index: 3;
}

#s-painting{
    display: block;
    position:relative;
    width: 290px;
    height: 290px;
    z-index: 6;
}

@media screen and (max-width: 300px) { 
    #roomie{
        width: 100px;
        height: 110px;
    }  
}

#vl-bottom{
    border-left: 10px solid #E7D27C;
    height: 150px;
    width: 20px;
    position:relative;
    left: 25vw;
    z-index: 1;
    margin-bottom: 100px;
}

/*<div id="dot"></div>*/
