.nav-bar {
    background-color: #AEAEAE;
    padding: 20px;
    border-bottom: 1px dashed white;
    /* Fixed top position*/
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    /* Flex block for buttons */ 
    display: flex;
    flex-direction: row-reverse;
}

.nav-button {
    /* Text properties */
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
    cursor: pointer;
    margin-left: 20px;
}

#main {
    background-color: #ffdfba;
    padding: 200px;
    position: static;
    right: 0;
    left: 0;
}

.name{
    text-align: center;
    font-size: 48px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-style: bold;
    letter-spacing: 8px;
    color: white;
}

.altname {
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: black;
}